<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <div class="row row-cols-3">
            <div class="col font-weight-bold border">First Name</div>
            <div class="col font-weight-bold border">Last Name</div>
            <div class="col font-weight-bold border">Full Name</div>
                {% for user in users %}
                    <div class="col border">
                        <p>{{ user['first_name'] }}</p>
                    </div>
                    <div class="col border">
                        <p>{{ user['last_name'] }}</p>
                    </div>
                    <div class="col border">
                        <p>{{ user['first_name'] }} {{ user['last_name'] }}</p>
                    </div>
                {% endfor %}
        </div>
    </div>
</body>
</html>